/* mulish font from google font */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800&display=swap');

/* shared styles */
* {
    font-family: 'Mulish', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    max-width: 1150px;
    margin: 0 auto;
}

section{
    margin-top: 100px;
}

.section-title{
    font-size: 2.5rem;
    font-weight: 800;
    color: #131318;
}

.section-description{
    margin-top: 25px;
    color: #131318;
}

.primary-btn{
    width: 170px;
    padding: 16px;
    color: #FFF;
    font-weight: 700;
    background-color: #FF5400;
    cursor: pointer;
    border: 0;
    border-radius: 8px;
}

hr{
    border: 1px solid #424247;
    margin: 20px 0;
}

/* header styles */
.nav{
    max-width: 1150px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-title{
    font-size: 2.25rem;
    color: #131318;
    font-weight: 800;
}
.text-color{
    color: #FF5400;
}

.nav > ul{
    display: flex;
    gap: 40px;
}
nav li{
    list-style: none;
    font-size: 18px;
}
nav li a{
    text-decoration: none;
    color: #424247;
}

.nav-icon{
    display: none;
}


/* banner styles */
.banner{
    margin: 0 auto;
    max-width: 1150px;
    height: 500px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url('../Images/banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-content{
    max-width: 800px;
    text-align: center;
}

.banner-title{
    font-size: 4rem;
    font-weight: 800;
    color: #FFFFFF;
}

.banner-description{
    color: #FFFFFF;
    margin: 24px 0 48px 0;
}

.banner-find-now{
    padding: 16px;
    width: 100%;
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3));
    display: flex;
    justify-content: center;
    gap: 24px;
    border-radius: 16px;
}

.banner-find-now input,
.banner-find-now select{
    width: 170px;
    padding: 16px;
    border-radius: 8px;
    border: 0;
    background-color: #FFFFFF;
    color: rgba(19, 19, 24, 0.5);
}

/* popular tours related styles */
.popular-tours-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.popular-tours-content > ul{
    padding-left: 40px;
}

.popular-tours-content .primary-btn{
    margin-top: 30px;
}

/* destination related styles */
.destination-container,
.choose-us-container{
    text-align: center;
}

.destination-grid-container{
    margin-top: 45px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 280px);
    gap: 25px;
}

.destination-img-container{
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.destination-img-container img{
    /* width: 100%;
    height: 100%; */
    /* border-radius: 16px; */
}

#destination-img-container-1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),url('../Images/Rectangle 5.png');
}
#destination-img-container-2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),url('../Images/Rectangle 8.png');
}
#destination-img-container-3{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),url('../Images/Rectangle 6.png');
}
#destination-img-container-4{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),url('../Images/Rectangle 7.png');
}
#destination-img-container-5{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),url('../Images/Rectangle 9.png');
}
#destination-img-container-6{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),url('../Images/Rectangle 11.png');
}
#destination-img-container-7{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),url('../Images/Rectangle 10.png');
}

#destination-img-container-1,
#destination-img-container-2{
    grid-column: span 6;
}
#destination-img-container-3{
    grid-column: span 4;
}
#destination-img-container-4,
#destination-img-container-6{
    grid-column: span 5;
}
#destination-img-container-5{
    grid-column: span 3;
}
#destination-img-container-7{
    grid-column: span 7;
}

.destination-img-container a{
    text-decoration: none;
}

.destination-img-title{
    font-size: 1.75rem;
    color: #FFFFFF;
    font-weight: 800;
}

/* choose us related styles */
.card-container{
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.card{
    border-radius: 16px;
    padding: 16px;
    max-width: 570px;
    background-color: rgba(251, 180, 99, 0.1);
    text-align: left;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#card-2{
    background-color: rgba(206, 240, 248, 0.7);
}

#card-3{
    margin: 24px auto;
}

.card img{
    margin-bottom: 32px;
}
.card-title{
    font-size: 1.5rem;
    font-weight: 800;
    color: #131318;
}
/* clients styles */
.clients h3{
    text-align: center;
    margin-bottom: 30px;
}
.clients-content{
    display: flex;
    justify-content: space-around;
}

.client{
    border: 0;
    border-radius: 16px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 330px;
    text-align: center;
}
.client img{
    width: 100px;
    border-radius: 50%;
}


/* newsletter styles */
.newsletter{
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

.newsletter-content{
    border: 2px solid #FF5400;
    border-radius: 16px;
    padding: 40px;
    background-color: #FFF;
}

.newsletter-form{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.newsletter-form input{
    padding: 20px;
    border: 0;
    border-radius: 8px;
    color: #131318;
    background-color: lightgray;
}
.newsletter-form input[type=button]{
    font-size: 20px;
    font-weight: 800;
    color: #FFFFFF;
    background-color: #FF5400;
}

.newsletter-img-container{
    position: relative;
}

.offer{
    max-width: 320px;
    background-color: #FF5400;
    border-radius: 16px;
    text-align: center;
    padding: 20px 30px;
    position: absolute;
    bottom: 60px;
    right: 16px;
    transform: rotate(-20deg);
}
.offer h3{
    font-size: 2rem;
    font-weight: 800;
    color: #FFFFFF;
}
.offer p{
    font-size: 1.5rem;
    color: #FFFFFF;
}

/* footer styles */
footer{
    margin-top: 100px;
    height: 500px;
    padding: 30px;
    background-color: rgb(247, 243, 243);
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-content{
    max-width: 800px;
    text-align: center;
}
.footer-content .logo{
    justify-content: center;
    margin-bottom: 20px;
}
.social-links{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 24px;
    font-size: 24px;
}
.social-links a{
    color: #131318;
}

/* responsive media queries */
/* labtop or desktop devices */
@media screen and (min-width: 992px) {
    
}
/* mobile devices */
@media screen and (max-width: 600px){
    .nav,
    .banner{
        width: 90%;
        margin-top: 25px;
        margin-bottom: 0;
    }
    
    .nav .logo img{
        width: 2rem;
    }
    
    .nav-title,
    .banner-title{
        font-size: 1.4rem;
    }
    
    .nav > ul{
        display: none;
    }
    .nav-icon{
        display: block;
    }
    
    .banner-content{
        width: 80%;
        margin: 32px 0;
    }
    
    .banner-description{
        margin: 8px 0 30px 0;
    }
    
    .banner-find-now,
    .popular-tours-container,
    .clients-content,
    .card-container,
    .newsletter{
        flex-direction: column;
    }
    
    .banner-find-now input,
    .banner-find-now select,
    .banner-find-now .primary-btn,
    .client{
        width: 100%;
    }

    main{
        width: 90%;
    }
    section{
        margin-top: 25px;
    }
    .section-title,
    .card-title,
    .offer h3{
        font-size: 1.25rem;
    }
    
    .popular-tours-img img,
    .newsletter-img-container img{
        width: 100%;
    }

    .popular-tours-container,
    .clients-content{
        gap: 25px;
    }
    
    .destination-grid-container{
        margin-top: 25px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(7, 280px);
        column-gap: 0;
        row-gap: 20px;
    }

    /* .clients-content{
        justify-content: center;
    } */

    .card-container,
    .section-description{
        margin-top: 20px;
    }
    
    .offer{
        width: 210px;
        padding: 10px 20px;
        bottom: 40px;
    }

    footer{
        margin-top: 30px;
        height: 320px;
    }
}